/*===GENERIC RULE===*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===START FLEX RULE===*/
.flex{
    display: flex;
}

.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.jc-fe{
    justify-content: flex-end;
}

.fd-col{
    flex-direction: column;
}

.ai-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

/*===END FLEX RULE===*/

.float-r{
    float: right;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


/*===MAIN===*/

.nav, .contents{    
    height: calc(100vh - 85px);
}


/*===SECTION NAV===*/

.nav{
    width: 250px;
    background-color: rgb(0, 255, 179); /*temp*/
}

.link-nav, .user-nav{
    padding: 0 1rem;
} 

.link-nav h3, .link-nav div, .link-nav ul, .link-nav ul li, .user-nav p{
    padding: 0.5rem 0;
    font-size: 15px;
}


/*===SECTION CONTENTS===*/
.contents{
    width: 100%;
    background-color: blueviolet; /*temp*/
    overflow: overlay;
}

.pippo{
    height: 80px;
    background-color: green; /*TEMP*/
    position: sticky;
    top: 0;
}

.btn-upgrade{
    padding: 1rem 1.5rem;
    border: solid black; /*TEMP*/
    border-radius: 30px;

}

.categories ul li{
    padding: 1rem;
    font-size: 13px;
}

.albums{
    padding: 1rem 1rem;
}

.recent-play h2, 
.card h4, 
.created-user h2, 
.created-user p,
.most-popular h2,
.most-popular p{
    margin: 0.5rem ;
}

.card{
    text-align: center;
    padding: 1rem 0.5rem;
}

.card img{
    width: 100%;
}

.created-user, .most-popular{
    margin-top: 1rem;
}

.most-popular .card img{
    border-radius: 50%;
}

/*===SECTION FOOTER===*/
.control-panel{
    height: 85px;
    background-color: tomato; /*temp*/
}

.play-now div{   
    padding: 0.5em 0.5rem;
}

.play-now div img{
    width: 50px;
}